.registration {
  &-wrapper {
    position: relative;
    border-radius: 25px;
    background-color: #fff;
    margin: auto;
    width: 80%;
    max-width: 590px;

    button {
      height: 50px;
      font-size: 18px;
      padding: 10px 20px;

      &.dark-red-empty {
        border: 3px solid #8B2A2A;
        border-radius: 25px;
      }

      &.green {
        border-radius: 25px;
      }
    }
  }
}
