
button {
  cursor: pointer;
  outline: none;
}

button.dark-red {
  color: #fff;
  background-color: #8B2A2A;
  border: 3px solid #8B2A2A;
  transition: all .1s;

  &-empty {
    background-color: white;
    color: #8B2A2A;
  }

  &:hover {
    color: #8B2A2A;
    background-color: #fff;
  }
}

button.green {
  color: #fff;
  background-color: #5C931B;
  border: 3px solid #5C931B;
  transition: all .1s;

  &:hover {
    color: #5C931B;
    background-color: #fff;
  }
}

button.big {
  width: 260px;
  height: 60px;
  letter-spacing: 1px;
  font-size: 24px;
  border-radius: 50px 50px;
}

.form-actions {
  
}
