
button {
  cursor: pointer;
  outline: none;
}

button.dark-red {
  color: #fff;
  background-color: #8B2A2A;
  border: 3px solid #8B2A2A;
  transition: all .1s;

  &-empty {
    background-color: white;
    color: #8B2A2A;

    &:hover {
      background-color: #8B2A2A;
      color: #fff;
    }
  }

  &:hover {
    color: #8B2A2A;
    background-color: #fff;
  }
}

button.green {
  color: #fff;
  background-color: #5C931B;
  border: 3px solid #5C931B;
  transition: all .1s;

  &:hover {
    color: #5C931B;
    background-color: #fff;
  }
}

button.big {
  width: 260px;
  height: 60px;
  letter-spacing: 1px;
  font-size: 24px;
  border-radius: 50px 50px;
}

button:disabled, button:disabled:hover {
  cursor: not-allowed;
  background-color: rgba(155, 155, 155, 0.27);
  border: solid 2px #9b9b9b;
  color: #9b9b9b;
}

.form-actions {
  margin: 30px 0 20px;
  text-align: right;
  > *:last-child {
    margin-left: 35px;
  }
}
