@import "../../node_modules/video-react/styles/scss/video-react";
@import "./fonts.scss";

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body, html, h1, h2, h3, h4, h5, h6, input, textarea {
  font-family: Helvetica-Bold;
}

div {
  font-family: Helvetica;
}

title, button, span, div {
  font-family: Lato;
}

title {
  display: block;
}

h1 {
  font-size: 36px;
  line-height: 1.4;
}

.green {
  color: #5C931B;
}

.dark-red {
  color: #8B2A2A;
}
