@font-face {
  font-family: Helvetica;
  src: url(../assets/fonts/Helvetica/HelveticaRegular.ttf);
}

@font-face {
  font-family: Helvetica-Bold;
  src: url(../assets/fonts/Helvetica/HelveticaBold.ttf);
}

@font-face {
  font-family: Lato;
  src: url(../assets/fonts/Lato/Lato-Regular.ttf);
}
