.field {
  margin-top: 15px;
  title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #000;
  }
  input {
    height: 30px;
    font-family: Lato;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    padding-left: 10px;
  }
  &.error {
    title {
      color: red;
    }
    input {
      border-color: red;
    }
  }
  &-error {
    font-weight: 100;
    color: red;
  }
}

.inline {
  display: flex;
  > * {
    margin-right: 30px;
  }
}
